*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear: both;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
}

.form-group {
    margin-bottom: 15px;
}
.radio,
.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-top: 4px \9;
    margin-left: -20px;
}
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 27px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
}






.radio > label {
    margin-right: 10px;
}
.pocket_selected_main{
    margin-top: 20px;    
}
.box_part img{
    border: 2px solid #e6e6e6;
    border-radius: 7px;
    box-shadow: 0 4px 7px #ddd;
}
.pocket_modal_main{
    margin-bottom: 15px;
}
.box_title p{
    font-size: 11px;
}
.man_trenchcoat{
    position: relative;
}
.laye{
    z-index: 0;
    display: block;
}
.layer img{
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
}

/* added 8-16 */

.custom_tabs_main li{
    display: inline-block;
}
.custom_tabs_main li a{
    background: #fff;
    border-radius: 6px 6px 0 0;
    display: block;    
    height: 39px;
    line-height: 26px;
    margin-right: 1px;
    padding: 0 16px 0 13px;
    text-decoration: none;
    color: #bcbcbc;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #ddd;
}
.number{
    background: none repeat scroll 0 0 #ddd;
    border-radius: 50%;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    width: 27px;
}
.sub-titel{
    font-size: 15px;
    font-weight: normal;
}
.main_titel_list{
    font-size: 22px;
}
.main_content{
    margin: 20px 0; 
}


/* added 8-18 by dharmesh*/
.heading_main{
 overflow: hidden; 
}
.heading_main .arrow_toggle_close{
  background: url("../../assets/images/design/box_close.jpg") no-repeat;
  cursor: pointer;
  font-size: 15px !important;
  padding-left: 30px !important;
}
.heading_main .arrow_toggle_close:hover{
  background: url("../../assets/images/design/box_close.jpg") no-repeat 0 -22px;
}
.arrow_toggle{
  background: url("../../assets/images/design/box_open.jpg") no-repeat;
  cursor: pointer;
  font-size: 15px !important;
  padding-left: 30px  !important;
  float: left;
}
.arrow_toggle:hover{
  background: url("../../assets/images/design/box_open.jpg") no-repeat 0 -22px;
}
.heading_main span{
  color: #adadad;
  font-weight: normal;
  margin-left: 5px;
}
.delete{
  border-bottom: 1px dotted #999;
  color: #999;  
  font-size: 16px;
  font-style: italic;
  float: right;
  text-decoration: none !important;  
}
.clearfix{
  clear: both;
}
.color_selecter img{
  width: 25px;
  border-radius: 4px;
  margin: 2px;
  float: left;
}
.category_main_box{
  padding-left: 30px;
}
.label_normal{
  font-weight: normal;
}
.button_holes .color_selecter img{
  width: 20px;
}
#img_ojal_hilo div{
  height: 135px;
  position: absolute;
  width: 199px;
}

#img_ojal_hilo .fabric{
  border-radius: 7px;
}
.side_hoel_seletor{
  margin-left: 209px
}
.ui-widget-header{
  background: none !important;
  border: none !important;
}
.ui-tabs .ui-tabs-nav li{
  border: none !important;
}
.ui-widget-content{
  background: none !important;
  border: none !important;
}

/*---------------Added by mk Start-----------------------*/
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}


.box_part img {
    cursor: pointer;
}

.boxpart_active,.box_part img:hover{
    border-color:2px solid #008000 !important
}

#customize_image_layer .inside{
    min-height: 400px;
}
.form-group{
    clear: both !important; 
}
/*---------------Added by mk End-----------------------*/